/*
CREDIT TO:
https://loading.io/css/
*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #2c5fbf;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis.white div {
  background: rgba(255,255,255,0.9);
}
.lds-ellipsis.blue div {
  background-color: #2c5fbf;
}
.lds-ellipsis.light-green div {
  background-color: #a7d222;
}
.lds-ellipsis.green div {
  background-color: #388e3cdb;
}
.lds-ellipsis.gray div {
  background-color: #818181;
}
.lds-ellipsis.brown div {
  background-color: #ea9f11;
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
